<template>
  <div
    class="xl:text-4xl lg:text-3xl md:text-2xl sm:text-2xl text-sm"
    v-html="content"
  />
</template>

<script>
export default {
  data() {
    return {
      content: 'No content avaible'
    }
  },
  created() {
    this.$store.state.posts.forEach((p) => {
      if (p.node.title.toLowerCase() === 'contact section') {
        this.content = p.node.content
      }
    })
  },
  head() {
    return {
      title: this.$store.state.meta.title + ' - Kontakt',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.meta.description
        }
      ]
    }
  }
}
</script>
