<template>
  <div
    class="xl:text-4xl lg:text-3xl md:text-2xl sm:text-2xl text-base py-6"
    v-html="list"
  />
</template>

<script>
export default {
  name: 'Content',
  computed: {
    list() {
      let list = ''
      this.$store.state.posts.forEach((p) => {
        if (p.node.slug === 'content') {
          list = p.node.content
        }
      })
      return list
    }
  }
}
</script>

<style lang="scss">
div{
  h2{
    font-size: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
      width: 2vw;
      height: auto;
    }
  }
}
</style>
