<template>
  <div class="FirstSection max-w-full px-2 xl:px-16 lg:px-12 md:px-10 sm:px-12">
    <Logo />
    <Content />
  </div>
</template>

<script>
import Logo from './logo.vue'
import Content from './content.vue'
export default {
  name: 'FirstSection',
  components: {
    Logo,
    Content
  }
}
</script>

<style lang="scss">
.FirstSection{
  background: url('../../assets/sectionBg.jpg') 50% 0 no-repeat;
  background-size: cover;
  position: relative;
}
</style>
