<template>
  <div>
    <div class="logo">
      <img src="../../assets/logo.png" alt="logo">
    </div>
    <h1 class="xl:text-5xl lg:text-5xl md:text-4xl sm:text-4xl text-3xl">
      {{ title }}
    </h1>
  </div>
</template>

<script>
export default {
  name: 'Logo',
  computed: {
    title() {
      let title = ''
      this.$store.state.posts.forEach((p) => {
        if (p.node.slug === 'title') {
          title = p.node.content
        }
      })
      return title.replace(/(<([^>]+)>)/ig, '')
    },
    logo() {
      let logo = ''
      this.$store.state.posts.forEach((p) => {
        if (p.node.slug === 'logo') {
          logo = p.node.content
        }
      })
      return logo
    }
  }
}
</script>

<style lang="scss">
$width: 20vw;

.logo{
  position: absolute;
  top: calc(#{$width} / -2);
  left:0;
  right:0;
  margin: 0 auto;
  width: $width;
  height: $width;
  border-radius: 10rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: 100%;
  }
}

h1{
  padding-top: calc(#{$width}/2);
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

@media(max-width: 640px){
  .logo{
    top: calc(30vw / -2);
    width: 30vw;
    height: 30vw;
  }

  h1{
    padding-top: calc(30vw/2)
  }
}
</style>
