@font-face {
  font-family: 'EuropeExtNormal';
  src: url('../../assets/fonts/EuropeExtNormal.eot');
  src: url('../../assets/fonts/EuropeExtNormal.eot') format('embedded-opentype'),
       url('../../assets/fonts/EuropeExtNormal.woff2') format('woff2'),
       url('../../assets/fonts/EuropeExtNormal.woff') format('woff'),
       url('../../assets/fonts/EuropeExtNormal.ttf') format('truetype'),
       url('../../assets/fonts/EuropeExtNormal.svg#EuropeExtNormal') format('svg');
}

*{
  box-sizing: border-box;
}
