<template>
  <div class="SecondSection max-w-full">
    <Tile
      v-for="(tile, key) in tiles"
      :key="key"
      :tile="tile"
    />
  </div>
</template>

<script>
import Tile from './tile'

export default {
  name: 'SecondSection',
  components: {
    Tile
  },
  computed: {
    tiles() {
      const tiles = []
      this.$store.state.posts.forEach((p) => {
        p.node.categories.nodes.forEach((c) => {
          if (c.name === 'tile') {
            tiles.push(p.node)
          }
        })
      })
      return tiles
    }
  }
}
</script>

<style lang="scss" scoped>

.SecondSection{
  width: 100%;
  padding: 30px 10px;
  background-color: #161616;
  display: flex;
  justify-content: space-around;
}
</style>
