<template>
  <div
    @mouseenter="animate"
    @mouseleave="reAnimate"
  >
    <nuxt-link
      :to="classType"
      :class="[classType, 'tile h-20 sm:h-32 md:h-40 lg:h-48']"
    >
      <h3 class="xl:text-4xl lg:text-3xl md:text-2xl sm:text-2xl text-sm">
        {{ tile.title }}
      </h3>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'Tile',
  props: {
    tile: {
      type: Object,
      default: null
    }
  },
  computed: {
    classType() {
      let name = ''
      switch (this.tile.slug) {
        case 'portfolio':
          name = 'portfolio'
          break
        case 'o-mnie':
          name = 'about'
          break
        case 'kontakt':
          name = 'contact'
          break
      }

      return name
    }
  },
  methods: {
    animate(e) {
      e.target.classList.add('animate')
    },
    reAnimate(e) {
      e.target.classList.remove('animate')
    }
  }
}
</script>

<style lang="scss" scoped>
div{
  width: 30%;
  transition: 0.5s;
  .tile{
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
      text-transform: capitalize;
      padding: 0;
      color: #fff;
      user-select: none;
    }
  }
}

.portfolio{
  background: url('../../assets/woods.png') 50% 0;
  background-size: cover;
}

.about{
  background: url('../../assets/about.jpg') 50% 0;
  background-size: cover;
}

.contact{
  background: url('../../assets/grass.png') 50% 0;
  background-size: cover;
}

.animate{
  filter: brightness(60%);
}
</style>
