<template>
  <div
    class="text-2xl w-40"
    v-html="tile.content"
  />
</template>

<script>
export default {
  name: 'SocialTile',
  props: {
    tile: {
      type: Object,
      default: null
    }
  }
}
</script>

<style lang="scss">
div{
  p{
    text-align: center;

    img{
      margin: 0 auto;
      width: 100px;
    }
  }
}
</style>
