<template>
  <div
    class="footer max-w-full xl:text-base lg:text-base md:text-sm text-xs"
    v-html="content"
  />
</template>

<script>
export default {
  name: 'Footer',
  computed: {
    content() {
      let content = ''
      this.$store.state.posts.forEach((p) => {
        if (p.node.slug === 'footer') {
          content = p.node.content
        }
      })
      return content
    }
  }

}
</script>

<style lang="scss">
.footer{
  background-color: #161616;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

</style>
