<template>
  <div class="container max-w-full mx-auto xl:w-3/5 lg:w-3/4 md:w-3/4">
    <nuxt-link
      v-show="home"
      to="/"
      class="home"
    >
      <font-awesome-icon icon="home" />
    </nuxt-link>
    <FirstSection />
    <SecondSection />
    <nuxt />
    <Footer />
  </div>
</template>

<script>
import FirstSection from '../components/FirstSection'
import SecondSection from '../components/SecondSection'
import Footer from '../components/Footer'
export default {
  components: {
    FirstSection,
    SecondSection,
    Footer
  },
  computed: {
    home() {
      if (this.$route.name !== 'index') {
        return true
      }
      return false
    }
  }
}
</script>

<style>
body{
  margin: 0;
  padding-top: 20vw;
  top:0;
  max-width: 100%;
  min-height: 100%;
  background: url('../assets/Brown_Wood_Texture_Background.jpg') no-repeat 0 50% fixed;
  background-size: cover;
  position: relative;
  font-family: 'EuropeExtNormal';
}

body:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: -1;
}

.ThirdSection{
  width: 100%;
  background: url('../assets/sectionBg.jpg') 50% 0 no-repeat;
  background-size: cover;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.home{
  width: 4rem;
  height: 4rem;
  background: #000;
  position: fixed;
  top: 100px;
  left: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 999999999;
}
</style>
