<template>
  <div class="ThirdSection max-w-full">
    <span v-show="homePage">
      <h3
        class="text-2xl xl:text-5xl lg:text-4xl md:text-3xl sm:text-3xl"
        v-html="title"
      />
      <SocialTile
        v-for="tile in socialTiles"
        :key="tile.id"
        :tile="tile"
      />
      <div
        class="quote text-2xl"
        v-html="socialQuote"
      />
    </span>
    <nuxt-child />
  </div>
</template>

<script>
import SocialTile from '../components/socialTile'
export default {
  components: {
    SocialTile
  },
  computed: {
    homePage() {
      if (this.$route.path !== '/') {
        return false
      }
      return true
    },
    title() {
      let title = ''
      this.$store.state.posts.forEach((p) => {
        if (p.node.slug === 'socials-title') {
          title = p.node.content.replace(/(<([^>]+)>)/ig, '')
        }
      })
      return title
    },
    socialTiles() {
      const socials = []
      this.$store.state.posts.forEach((p) => {
        p.node.categories.nodes.forEach((c) => {
          if (c.name === 'socials') {
            socials.push(p.node)
          }
        })
      })
      return socials
    },
    socialQuote() {
      let quote = ''
      this.$store.state.posts.forEach((p) => {
        if (p.node.slug === 'social-quote') {
          quote = p.node.content
        }
      })
      return quote
    }
  },
  async fetch({ store, app }) {
    await store.dispatch('nuxtServerInit', { app })
  },
  head() {
    return {
      title: this.$store.state.meta.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.meta.description
        }
      ]
    }
  }
}
</script>

<style lang="scss">
span {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  flex-wrap: wrap;
}
h3{
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.quote{
  width: 100%;
  padding-top: 50px;
  text-align: center;
}
</style>
